.cache/**
.devcontainer/**
.gitignore
.gitlab-ci.yml
.mocharc.json
.pre-commit-config.yaml
.releaserc
.vscode/**
.vscode-test/**
.yarnrc
.yamllint
esbuild.js
lychee.toml
node_modules/**
out/**
src/**
Taskfile.d/**
Taskfile.project.yml
Taskfile.yml
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
