.cache/**
.devcontainer/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
Taskfile.d/**
.gitignore
.yarnrc
.mocharc.json
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
